<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Personal/Automation/API_Helper 2.0/API-Helpers">
        <classes>
            <class name="apiHelpersCitrus.tests.HttpTest">
                <methods>
                    <include name="getUsersListHttpTest"/>
                    <include name="getCourseUserTest"/>
                </methods>
            </class>
            <class name="apiHelpersCitrus.tests.SOAPTest">
                <methods>
                    <include name="checkGettingInformationAboutUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>